<!-- join.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AAH - All About Healthy Network" />
    <meta name="author" content="c4ei.net">
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>가입</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">가입</h5>
            <form name="form_join" id="form_join" method="POST">
                <div class="form-group">
                    <label for="email">EMAIL:</label>
                    <input type="text" class="form-control" id="email" name="email" required  maxlength="50" >
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" class="form-control" id="password" name="password" required  maxlength="50" >
                </div>
                <br />
                <div class="form-group">
                    <label for="fid">추천인ID:</label>
                    <input type="text" class="form-control" name="fid" value="<%= fid %>" readonly >
                </div>

                
                <input type="hidden" name="code" value="<%= code %>">
                <br />
                <button type="button" onclick="jsfn_submit();" class="btn btn-primary btn-block">가입하기</button>
            </form>
            <% if(_resend=="Y"){ %> <script>alert('이미 가입된 email 입니다.\n현재 창을 닫고 다시 시도해 주시기 부탁드립니다.');</script> <% } %>
            <script>
                function jsfn_submit(){
                    let _form_join = document.getElementById("form_join");
                    let _email = document.getElementById("email");
                    let _password = document.getElementById("password");
                    if(_email.value.length<10){
                        alert('email 을 입력하세요.');
                        _email.focus();
                        return;
                    }
                    if(!validateEmail(_email.value)){
                        alert('email 형식을 확인 하세요');
                        _email.focus();
                        return;
                    }
                    if(_password.value.length<8){
                        alert('비밀번호를 8자이상 입력하세요.');
                        _password.focus();
                        return;
                    }
                    _form_join.action="/joinok";
                    _form_join.submit();
                }
                function validateEmail(email) {
                    var re = /\S+@\S+\.\S+/;
                    return re.test(email);
                }
            </script>
        </div>
    </div>
</body>
</html>