<!-- login.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="AAH WEB MINING(마이닝)">
    <meta property="og:url" content="https://ref.c4ei.net/">
    <meta property="og:image" content="https://i.ibb.co/stfwwLZ/aahwebmining.png">
    <meta property="og:description" content="All About Healthy Network 의 무료 WEB MINING을 시작 하세요.">
    <meta name="description" content="AAH - All About Healthy Network" />
    <meta name="author" content="c4ei.net">
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>AAH 채굴 로그인</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <center>
                <img src="https://i.ibb.co/tPLztBf/AAH265.png" alt="AAH265" border="0" width="200" height="200" >
            </center>
            <br>
            <h5 class="card-title text-center">AAH 채굴 로그인</h5>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">EMAIL:</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
            </form>
            <div class="text-center mt-3">
                <p>계정이 없으신가요? <a href="/signup">회원가입</a></p>
                <p><a href="https://docs.google.com/document/d/1xWXYf4TzwS-xaKU2Ox82SkTtW5UVAcBGDPy3qKSsKVo/edit?usp=sharing" target="_blank">AAH 채굴 사용 설명서 Ver0.1</a></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "b8247b36a95ec0";
if(window.wcs) {
wcs_do();
}
</script>
</body>
</html>
